.about-wrapper {
    background: rgb(100, 100, 100);
    height: 100vh;
}

.about-title {
    margin-left: 3rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    color: rgb(255, 100, 100);
}

.about-text {
    font-weight: 400;
    font-size: 1.4rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
    text-align: justify;
    color: white;
    line-height: 2.2rem;
    font-family: 'Times New Roman', Times, serif;
}

.about-text a {
    color: orange;
    font-weight: 200;
}

.btn-primary {
    margin-left: 3rem;
}

@media screen and (max-width: 420px) {
    .about-text {
        font-size: 1.5rem;
        line-height: 1.5rem;
        text-align: justify;
        margin-right: 2rem;
    }

    .about-wrapper {
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .about-text {
        font-size: 1rem;
        text-align: justify;
        margin-right: 1rem;
        font-weight: 200;
    }

    .about-wrapper {
        height: 100vh;
    }
}

@media screen and (min-width: 1024px) {

}