.hero-container {
    background: url('../images/art-co_hero2.png') center/contain no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);

}

.hero-container  h1 {
    color: #ffffff;
    font-weight: 200;
    border: 4px solid rgb(255, 239, 151);
    padding: 10px;
    display: flex;
    margin-top: auto;
    font-size: 1rem;
}

.artist-name {
    font-weight: 200;
}

.artist-card a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 680px) {
    .hero-container {
        background: url('../images/hero-mobile.png') center/contain no-repeat;
        background-color: #000000;
    }
}