.content {
    margin: 50px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.title {
    text-align: left;
    margin-bottom: 2rem;
    border-bottom: 1px solid black;
}
.control-btn {
    display: flex;
    justify-content: space-between;
}

.control-btn button {
    text-align: start;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    color: black;
    background: rgb(255, 100, 100);
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.painting-item {
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin-right: 10rem;
}



.paint-title {
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: -0.5rem;
    margin-left: 1.4rem;
    color: rgb(255, 100, 100);
}

.paint-img {
    width: 200px;
    margin: 1.5rem;
    margin-left: 4.3rem;
}

.painting-artist {
    margin-left: 1.4rem;
    margin-bottom: 1.5rem;
    font-weight: 300;
}

.btn-primary {
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 8px 30px;
  border-radius: 8px;
  position: relative;
  left: -1.2rem;
  font-size: 0.8rem;
}


