.paintings-container {
    display: grid;
    background: white;
    color: black;
    font-weight: 200;
    padding-top: 5rem;
    justify-content: center;
    align-items: center;
}

.paintings-header {
    display: flex;
    margin: 2rem 2rem 2rem 2rem;
    justify-content: center;
    color: rgb(255, 100, 100);
    font-weight: 400;
}

.paintings-cards {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    position: relative;

    margin-right: 12rem;
    margin-left: 12rem;
    overflow-x: scroll;
}




.painting-item {
    display: inline-block;
    padding-bottom: 2rem;
}

.paint-title {
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: -0.5rem;
    margin-left: 1.4rem;
    color: rgb(255, 100, 100);
}

.paint-img {
    width: 140px;
    margin: 1.5rem;
}

.painting-artist {
    margin-left: 1.4rem;
    margin-bottom: 1.5rem;
    font-weight: 300;
}

.btn-primary {
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 8px 30px;
  border-radius: 8px;
  position: relative;
  left: -1.2rem;
}


