.poster_home {
    background: rgb(255, 100, 100);
    display: flex;
    align-items: center;
    padding-bottom: 4rem;
}

.poster_img img {
    width: 20rem;
    margin-left: 4rem;
}

.poster_button button {
    color: #ffffff;
    font-weight: 300;
    border: 4px solid white;
    padding: 10px 40px;
    font-size: 1rem;
    background: transparent;
    margin-bottom: 5rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.poster_title h1 {
    color: #ffffff;
    font-weight: 300;
    font-size: 3rem;
    padding: 10px;
    margin-bottom: 2rem;
}

.poster_title p {
    max-width: 400px;
    color: #ffffff;
}

@media screen and (max-width: 820px) {
    .poster_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    }

    .poster_title p {
        margin-left: 2rem;
    }
}